<div class="row text-center">
<h1>Congratulations on your order:</h1>
<p>This is your order_id: <%= @sale.guid%></p>
<p>Here is your download link:</p>
<%= link_to "Download", @book.resource.url%>
<p>Thanks again for your business, enjoy the book!</p>
</div>